# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build directory
build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Keys and certificates
*.key
*.pem

# Dependency directories (remove the comment below to include it)
vendor/

